/*Input Field */
.form-control {
    background-color: var(--white);
    color: var(--primary);
    border-color: var(--primary);
    width: 600px;
    padding: 0.5rem 1rem;
    border-width: 2px;
    border-radius: 16px;
}